@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  color: #e2e8f0;

  &:before {
    content: '';
    content: "";
    width: 100%;
    height: 100vh;
    // background: linear-gradient(to right bottom, #6d327c, #485DA6, #00a1ba, #01b18e, #32b37b);
    // background: #D3D3D3;
    background-image: url("../public/bg.png");
    position: fixed;
    left: 0;
    top: 0;
    z-index: -1;
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  background-color: #0151c1;
  border-radius: 3px;
}

::-webkit-scrollbar-track {
  background-color: #1a202c;
}

h1 {
  font-style: normal;
  font-weight: 500;
  font-size: 50px;
  line-height: 59px;
  margin-bottom: 3rem;
  font-weight: bold;
}

h2 {
  font-style: normal;
  font-weight: 500;
  font-size: 38px;
  line-height: 45px;
  margin-bottom: 2rem;
  font-weight: bold;
}

h3 {
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 33px;
  margin-bottom: 1.5rem;
}

h4 {
  font-style: normal;
  font-weight: 700;
  font-size: 21px;
  line-height: 25px;
  margin-bottom: 1rem;
}

h5 {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.08em;
  margin-bottom: 1rem;
  text-transform: uppercase;
}

p {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.subtitle {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
}

.bg {
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  // border: 1px solid #0c4a6e;
  background: linear-gradient(96.6deg, rgba(0, 115, 121, .112) 11.23%, rgba(0, 95, 100, 0) 115.9%);
  // inset: 0;
  // z-index: -1;
}

.category {
  border-radius: 9999px;
  background-color: #1d4ed8;
  transition: all 0.3s ease;
  cursor: pointer;
  padding: 0.25rem 0.75rem;

  &:hover {
    transform: translateY(-0.25rem);
  }
}

.text-shadow {
  text-shadow: 0px 2px 0px rgb(0 0 0 / 30%);
}

.adjacent-post {
  & .arrow-btn {
    transition: width 300ms ease;
    width: 50px;
  }

  &:hover {
    & .arrow-btn {
      width: 60px;
    }
  }
}

.react-multi-carousel-list {
  & .arrow-btn {
    transition: width 300ms ease;
    width: 40px;

    &:hover {
      width: 50px;
    }
  }
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.left-arrow {
  left: 0px;
  font-size: 32px;
}

.right-arrow {
  right: 0px;
  font-size: 32px;
}

.navHover {
  transition: all 0.3s ease;
  position: relative;

  &:after {
    position: absolute;
    bottom: -2px;
    left: 0;
    content: '';
    width: 0%;
    height: 2px;
    background-color: #60a5fa;
    transition: all 0.3s ease;
  }

  &:hover {
    color: #60a5fa;
  }

  &:hover::after {
    width: 100%;
  }
}